<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja Gold</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <p class="spacing">Your Gold: {{gold_amt}}</p>
  <div id="container">
    <div class="boxes">
      <h3>Farm</h3>
      <p>(earns 10-20 golds)</p>
      <form action="/process_money" method="post">
        <button type="submit" name="location" value="farm"> Find Gold!</button>
      </form>
    </div>
    <div class="boxes">
      <h3>Cave</h3>
      <p>(earns 5-10 golds)</p>
      <form action="/process_money" method="post">
        <button type="submit" name="location" value="cave"> Find Gold!</button>
      </form>
    </div>
    <div class="boxes">
      <h3>House</h3>
      <p>(earns 2-5 golds)</p>
      <form action="/process_money" method="post">
        <button type="submit" name="location" value="house"> Find Gold!</button>
      </form>
    </div>
    <div class="boxes">
      <h3>Casino</h3>
      <p>(earns/takes 0-50 golds)</p>
      <form action="/process_money" method="post">
        <button type="submit" name="location" value="casino"> Find Gold!</button>
      </form>
    </div>
  </div>
  <p class="spacing">Number of moves left: {{moves}}</p>
  <p class="spacing">Activities:</p>
  <div id="acitivies">
    {%for activity in activities|reverse%}
      {{activity|safe}}
    {%endfor%}
  </div>
  <form action="/reset" method="POST">
    <input type="submit" value="Reset" style="display:{{display}}">
  </form>
</body>
</html>