h1{
    text-align: center;
}

table, th, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    text-align: center;
    width:700px;
    margin: auto;
}

form {
    margin: auto;
    width: 1000px;
    text-align: center;
}

button {
    margin-top: 30px;
}

input{
    margin-top: 30px;
}

fieldset {
    background-color:skyblue;
    margin-top: 30px;
}

legend {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
