body {
    font-family: arial;
  }
  
  #wrapper {
    width: 1000px;
    border: 2pt solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 50px;
  }
  
  #header{
    text-align: right;
  }
  
  h1{
    margin-top: 50px;
  }
  button{
    border-radius: 5px;
  }
  
  table{
    margin: 50px;
    border-collapse: collapse;
  }
  
  tr, td, th{
    border: 1pt solid black;
    padding: 5px;
  }