<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <div id="container">
    <h3>{{ author.first_name }} {{ author.last_name }}</h3>
    <h3>ID: {{ author.id }}</h3>
    <h3>Notes:</h3>
    <p>{{ author.notes }}</p>
    <h3>Books:</h3>
    <ul>
        {% for book in author_books %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action="/book_to_author" method="post">
        {% csrf_token %}
        <select name="b_id">
            {% for book in all_books %}
            <option value="{{book.id}}">{{ book.title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add</button>
        <input name="a_id" type="hidden" value="{{ author.id }}">
    </form>
    </div>  
</body>
</html>