<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Show User Info</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="wrapper">
    <h1>User {{ user[0]['id'] }} Info</h1>
    <table id="userTable">
      <tr>
        <td><label class="inline">Full Name:</label></td>
        <td>{{ user[0]['first_name'] }} {{ user[0]['last_name'] }}</td>
      </tr>
      <tr>
        <td><label class="inline">Email:</label></td>
        <td>{{ user[0]['email'] }}</td>
      </tr>
      <tr>
        <td><label class="inline">Created At:</label></td>
        <td>{{ user[0]['created_at'] }}</td>
      </tr>
      <tr>
        <td><label class="inline">Updated At:</label></td>
        <td>{{ user[0]['updated_at'] }}</td>
      </tr>
    </table>
    <a href="/edit/{{ user[0]['id'] }}">Edit</a>
    <a href="/delete/{{ user[0]['id'] }}">Delete</a>
    <a href="/">Go Back</a>
</body>

</html>