<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id ="container">
    
        <h1>Great Number Game</h1>
        <h3>I'm thinking of a number between 1 and 100</h3>
        <h3>Take a guess!</h3>
        <div class="results" style="background-color: red; width: 100px; height: 100px; text-align: center; color: white; font-weight: bold; margin-left: 150px; margin-bottom: 40px; padding: 30px 20px;">
            {{result}}
        </div>
        <div id="box">
            <form action="/guess" method="POST">
                {% csrf_token %}
                <input type="number" name="guess_num" min=1 max=100 placeholder="Enter Guess">
                <button type="submit">Submit</button>
            </form>
        </div>
</div>
</body>
</html>