<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Admin Edit Users</title>
</head>
<body>
<div class="container">
    <div class="page-header">
    <h2>Test App</h2>
    <h4><a class="black" href="/admin_dashboard">Dashboard</a></h4>
    <h4>Profile</h4>
    <a class="margin" href="/logout">Log off</a>
    </div>
    <div class="row">
    <div class="col">
        <h2 class="bottom">Edit User # {{ id }}</h2>
    </div>
    </div>
    <div class="row">
    <div class="col">
        <h4>Edit Information</h4>
        <form action="/admin_edit_info/{{ user.id }}" method="post">
        {% csrf_token %}
        <label>First Name:</label>
        <input type="text" name="first_name" placeholder={{user.first_name}}>
        <label>Last Name:</label>
        <input type="text" name="last_name" placeholder={{user.last_name}}>
        <label>Email Address</label>
        <input type="email" name="email" placeholder={{user.email}}>
        <label>User Level:</label>
        <select name="user_level" placeholder={{user.user_level}}>
            <option value="1">User</option>
            <option value="9">Admin</option>
        </select>
        <button type="submit">Save</button>
        </form>
    </div>
    <div class="col">
        <h4>Change Password</h4>
        <form action="/admin_edit_password/{{ id }}" method="post">
        {% csrf_token %}
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password">
        <label>Confirm Password:</label>
        <input type="password" name="pw_confirm" placeholder="Reenter password">
        <button type="submit">Update Password</button>
        </form>
    </div>
    </div>
    <div class="row">
    <div class="col">
        {% if messages %}
        {% for message in messages %}
            <p class="red">{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
    </div>
</div>
</body>
</html>