.page-header {
border-bottom: 1px solid #eee;
margin-bottom: 40px;
}

.page-header h2, h4 {
display: inline-block;
margin-right: 60px;
}

.page-header a {
margin-left: 700px;
}

button {
background-color: lightblue;
border-radius: 5px;
margin-top: 20px;
}

button a {
color: black;
}


label {
display: block;
}

.button-login {
border-radius: 5px;
background-color:olivedrab;
display: block;
margin: 0 0 50px 100px;
}

input {
border-radius: 5px;
margin-bottom: 20px;
}

table {
margin-top: 50px;
}

th {
background-color: grey;
padding: 10px;
}

td {
background-color: lightgrey;
padding: 10px;
}

.center {
text-align: center;
}

.action {
margin-right: 10px;
}

.red {
color: red;
}
