<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Logged In</title>
{%load static%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div id="wrapper">
    <h1>Welcome, {{ user.first_name }}! </h1>
    <h3>You are now logged in!</h3>
    <h2>All Users</h2>
    {% for message in messages %}
    <p class="text-success"> {{ message }}</p>
    {% endfor %}

    
    <div id="tableWrapper">
        <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id}}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    
    <a href="/logout"><button type="button">Logout</button></a>
</div>
</body>
</html>
