body {
    margin: 0 auto;
    
}
#container {
    width: 970px;
    margin: 0 auto;
    background-color:skyblue;
    padding: 35px;

}

#ninjas_dojos {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 2px solid black;

}

input {
    height: 25px;
}
button {
    margin-bottom: 50px;
    margin-left: 50px;
    width : 80px;
    height: 25px;
    border-style: none;
}

#formdojo {
    margin-right: 100px;
}

#result {
    text-align: center;
}